html
{
	overflow-y: auto;
	max-width: 100%;
}

video, iframe
{
	max-width: 80%;
}

noselect
{
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.to_top
{
	position:fixed !important;
	bottom:15px !important;
	right:15px !important;
}

div.content
{
	font-size:14pt;
	color: #2b2c2e;
}

div.xscroll
{
  overflow-x: auto !important;
}

textarea.markdown
{
	visibility: hidden;
}

mono
{
	font-family: DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;
	font-size: 85%;
	color: #415891;
}

a.discord
{
	text-decoration:none;

	outline: 0;
	color:#dbd5d5;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.discord:hover
{
	color:#969292;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.gitter
{
	text-decoration:none;

	outline: 0;
	color:#e322bc;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.gitter:hover
{
	color:#8f1576;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.teemill
{
	text-decoration:none;

	outline: 0;
	color:#b02c54;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.teemill:hover
{
	color:#912747;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.teespring
{
	text-decoration:none;

	outline: 0;
	color:#88d45f;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.teespring:hover
{
	color:#58d117;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.bb
{
	text-decoration:none;

	outline: 0;
	color:#409adb;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.bb:hover
{
	color:#535678;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.gh
{
	text-decoration:none;

	outline: 0;
	color:#1F1F1F;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.gh:hover
{
	color:grey;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.gl
{
	text-decoration:none;

	outline: 0;
	color:#e88523;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.gl:hover
{
	color:#b87a1d;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.reddit
{
	text-decoration:none;

	outline: 0;
	color:#FF4500;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.reddit:hover
{
	color:#e88523;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}


table.Loki th
{
  overflow-x: auto !important;
	color: #78be20;
	background-color: #2d323b; /*#434d45;*/
}

table.Loki td
{
  overflow-x: auto !important;
	background-color: #2b2c2e; /*#3c3d40;*/
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
 	background: #4a4233; 
	border-radius:5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 	background: #888; 
	border-radius:5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 	background: #555; 
}
