/*
	see https://github.com/google/code-prettify/blob/master/README.md 
	for the prettyprint readme.
*/

/* desert scheme ported from vim to google prettify */
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #CB917E } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}

pre ol.linenums
{
	margin-left: 20px;
}

pre ol.linenums > li 
{
	/*lists all line numbers*/
	list-style-type: decimal; 

	/*linenum font color*/
	color:white;

	border-left-style: dashed;
    border-left-width: 1px;
	border-left-color: #888888;

	padding-left: 8px !important;
	padding-top: 1px;

	line-height: 1.5;
	
	/*sets background color for every second line*/
	background: transparent;
}

pre.scroll
{
	max-height: 400px;
	overflow-y: scroll;
}

pre.square
{
	border-radius: 0px;
}

pre.inline
{
	display: inline-block !important;
}

pre.wrap
{
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre
{
	-webkit-overflow-scrolling: touch;
	background-color: #363331;
	border: solid 1px #e5e5e5;
	font-family: monospace;
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 0 0 2em 0;
	padding: 1em 1.5em;
	border-radius: 5px;

	display: block;
	text-align:left !important;
	color: white !important;

	/*picks the first available font and resizes*/
	font-family: DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;
	tab-size: 4;

	max-width: 90%;
	overflow: auto;
	
	margin: 0 auto;
	margin-top: 0px !important;
	margin-bottom: 0px !important;

	padding-left: 8px !important; 
	padding-right:5px !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
}
